body{
    padding:0px;
    margin:0px;
    font-family:helvetica;
}
#header{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    background-color:rgb(7, 65, 141);
    height:100px;
}
.field{
    margin:0rem 1rem 0rem 1rem;
    padding:0.4rem 0.6rem 0.4rem 0.6rem;
    border-radius:3px;
    border:1px solid rgb(255, 255, 255);
    color:#999;
    width:150px;
}
.label{
    color:#fff;
}

/* Remove Arrows from Input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn{
    padding:0.4rem 1rem 0.4rem 1rem;
    border-radius:3px;
    border:none;
    cursor: pointer;   
}
.btn:hover{
    background-color:#e0e0e0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* content */


table, tr, td {
    border: 1px solid #999;
    padding:1rem;
    color:#212121;
  }
#table {
    margin:0 auto;
    margin-top:10px;
    border-collapse: collapse;
}